@import url(bulma.min.css);

section {
    display: grid;
    place-items: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-fade {
    opacity: 0;
    transition: all 2s;
}

.show-fade {
    opacity: 1;
}

.wave-green-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-green-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave-green-top .shape-fill {
    fill: #268D46;
}

.green {
    background: #268D46
}

.white {
    /*background: whitesmoke;*/
    position: relative;
    height: 115vh;
}



.wave-green-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-green-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave-green-bottom .shape-fill {
    fill: #268D46;
}

.triangle-green-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.triangle-green-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
}

.triangle-green-top .shape-fill {
    fill: #268D46;
}

.mission-section {
    position: relative;
    height: 75vh
}

.green-waves-bottom-mission {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.green-waves-bottom-mission svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
    transform: rotateY(180deg);
}

.green-waves-bottom-mission .shape-fill {
    fill: #268D46;
}